.row
  .small-9.columns
    %h1= @title_string
  .small-3.columns
    =button_to "Return to Table", {action: 'index'}, method: :get,
                                                data: {confirm: "Are you sure? Unsaved changes will be lost."},
                                                :class => 'button tiny radius'
.row
  .small-2.columns
    = form_for @budget do |f|
      = f.label :income, "Income"
      = f.text_field :income_cents, data: { role: 'money' }
      = f.fields_for :categories do |categories_form|
        = categories_form.label :amount_cents, categories_form.object.name
        = categories_form.text_field :amount_cents, data: { role: 'money' }
      = f.submit :class => 'button tiny radius'