<div class="row">
  <div class="small-7 columns"></div>
  <div class="small-3 columns">
      <fieldset class="">
          <legend>Add a Budget</legend>
          <%= form_for(@budget) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.submit "Create Budget", class: "button tiny radius form_button1" %>
          <% end %>
      </fieldset>
  </div>
</div>
<div class="row">
  <div class="small-2 columns"></div>
  <div class="small-8 columns">
    <h1>My Budgets</h1>
    <table>
      <tr>
        <th>Budget Name</th>
        <th>Last Modified</th>
      </tr>
    <% @budgets.each do |budget| %>
      <tr>
        <td><%= budget.name %></td>
        <td><%= budget.updated_at %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>