%header
  .row
    .small-2.columns
      = image_tag("piggy_bank.png", id: "piggybank")
    .small-10.columns
      %h1#website_name BudgetSimple
      %p.notice= notice
      %p.alert= alert
      - if user_signed_in?
        %li= link_to current_user.email, edit_user_registration_path
        %li= link_to "Log Out"
      - else
        %li= link_to "Sign Up", new_user_registration_path
        %li= link_to "Log In", new_user_session_path
